.dashboard-div-left{float:left; width:45%; height: 200px; background-color:lightgray; margin: 2%; border: 1px solid gray;}
.dashboard-div-right{float:right; width:45%; height:200px; background-color:lightgray; margin: 2%; border: 1px solid gray;}
#dashboard-top-left{}
#dashboard-top-right{}
#dashboard-row2-left{}
#dashboard-row2-right{}
