.container{
	width:1000px;
	/*height:900px;*/
}
.header{
	width:auto;
	height: 95px;
}
.headerRight{
	float:right;
}
.logo{
	width:303px;
	height: 90px;
	float:left;
	margin: 5px 0px 0px 5px;
	background-image: url('001_images/LogoSky.png');
}
.headerMenu{
	margin: 15px 10px 0px 0px;
	float:left;
}
.headerAccount{
	float:right;
	margin: 0px 0px 0px 5px;
	height: 30px;
}
.headerAccount ul{
	margin:0px;
}
.headerMenuElement{
	float:left;
	margin: 5px 10px 5px;
}
.body{
}
.hauptnav{
	margin: 0px 25px 10px 5px;
	border: solid 1px;
	float:left;
}
.hauptNavElement{
	float: left;
	margin: 0px 1px 0px 0px;
	background-color:#A6B8CA;
	width:160px;
	height:30px;
	text-align:center;
}
.hauptNavElement:last-child{
	margin: 0px 0px 0px 0px;
}

.content{
	clear: both;
	margin: 0px 0px 0px 5px;
}
#loginError{
	height: 300px;
	background-color: red;
}